{% load bootstrap4 %}
{% bootstrap_css %}

{% load wishlistapp_custom_templates %}

<div class="container">
    <p>
        <a href="{% url 'index' %}">Back to list of wishlists</a>
    </p>

    <h1>{{ wishlist.title }}</h1>

    <p>
        Owner: {{ wishlist.owner }}
    </p>

    <table class="table table-hover">
        <tr>
            <th>Wish</th>
            <th>Amount</th>
            <th>Price range</th>
        </tr>
        {% for wish in wishes %}
            <tr>
                <td><a href="{% url 'wish_detail' wishlist.id wish.id %}">{{ wish.title }}</a></td>
                <td>{{ wish.amount|substract:wish.reserved_amount }}</td>
                <td>{{ wish.price_low }} - {{ wish.price_high }}</td>
            </tr>
        {% endfor %}
    </table>
</div>